@charset "utf-8";
@media (max-width: 1000px){
}
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

/*
/  Id from here
/
*/
#DivLogin {
	padding:0px;
	margin-top:100px;
	position:absolute;
	left:50%;
	width:400px;
	margin-left:-200px;
	text-align:center;	
}

#head_div1 {
    margin-top: 25px;
    position: absolute;
    margin-left: 70px;
}

/*
/  Class from here
/
*/
.nav_cat_item{
	position: relative;
	float: left;
}

.clearboth{
  clear: both;
}

.float_left{
	/*
	*/
	position: relative;
	float: left;
}

.float_right{
	/*
	
  */
  position: relative;
  _position: absolute;
	float: right;
}

._imSticky{
	position: -webkit-sticky;
	position: sticky;
	top: 5px;
}

.dropdown-toggle {
  white-space: nowrap;
}

.dropup,
.dropright,
.dropdown,
.dropleft {
  position: relative;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.btn_on_right10_top30{
	float: right;
	position: relative;
	top:15px;
	right:15px;
}